<div id="gitment-ctn"></div> 
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script src="/js/md5.js"></script>
<script>
var gitalk = new Gitalk({
  id: md5(location.pathname),
  clientID: '<%=theme.gitment_oauth.client_id%>',
  clientSecret: '<%=theme.gitment_oauth.client_secret%>',
  repo: '<%=theme.gitment_repo%>',
  owner: '<%=theme.gitment_owner%>',
  admin: '<%=theme.gitment_owner%>'
})

gitalk.render('gitment-ctn')
</script>